body {
		background-color: darkgrey;
		color: white;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
}
.temp-info,
.temp-icon,
.temp-description{
		margin: 0 auto;
		width: 20%;
		text-align: center; 
}